---
import {getCollection} from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';

export async function getStaticPaths() {
    const blogEntries = await getCollection('blog', ({data}) => {
        return import.meta.env.DEV || data.published;
    });

    return blogEntries.map(entry => ({
        params: {slug: entry.slug},
        props: {entry},
    }));
}
const {entry} = Astro.props;
const {Content} = await entry.render();

const formatDateTime = (date: Date) =>
    date.toLocaleDateString('en-GB', {
        year: 'numeric',
        month: 'long',
        day: 'numeric',
        hour: '2-digit',
        minute: '2-digit',
    });
---

<BaseLayout title={entry.data.title}>
    <main class="w-full max-w-2xl mx-auto px-4 pb-4 flex-1 flex flex-col items-center">
        <article class="w-full prose dark:prose-invert prose-sm text-left">
            <header class="mb-8 not-prose text-center">
                <time datetime={entry.data.created.toISOString()} class="text-sm">
                    {formatDateTime(entry.data.created)}
                </time>
                {entry.data.updated && (
                        <span class="text-xs">(Updated: {formatDateTime(entry.data.updated)})</span>
                )}
                <span class="flex gap-2 justify-center">
                {entry.data.tags.map((tag) => (
                        <a href={`/blog/${tag}`} class="text-xs underline opacity-60">
                            #{tag}
                        </a>
                ))}
            </span>
            </header>
            <div class="w-full">
                <Content/>
            </div>
        </article>
    </main>
</BaseLayout>